.side{
    display: flex;
    width: 280px;
    height: 120vh;
   
    color: white;

}
.cps{
    color: black;
}
.mvc{
    color: black;
}
.car{
   
    height: 70px;
    align-items: center;
    text-align: center;
    background: purple;
    color: white;
}
td>img{
    width: auto;
    height: 150px;
}

main{
    
    height: 100vh;
    width: 1160px;
    
}
.comp{
    margin: 0.2rem;
    font-family: serif;
}
.sideItem{
    background-color: darkslateblue;
    color: white;
    height: 100vh;
    width: 280px;
    
    
}

.links{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
.links:hover{
    background-color: black;
    color: gold;

}
