.cont1{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: rgb(6, 48, 9);
    position: relative;
    color: #fff;
    
}
.cont2{
    text-align: center;
    margin-top: 1.2rem;
}
.cont3{
 display: flex;
   
   justify-items: center;
   width: 100%;
   margin-top: 2rem;
}
.con4 >button{
    padding: 10px 20px;
    width: 96%;
    background: blue;
    border-radius: 12px;

}
.con1{
    margin: 2em;
    width: 60%;
}
.con2{
    width: 60%;
    background: rgb(93, 20, 100);
    padding: 1rem;
    border-radius: 10px;
}