.hero{
    width: 100%;
    height: 90vh;
    position: relative;
   
   
    
}
.ck > .ch{
    padding: 11px 15px;
    color: #fff;
    border-radius: 5%;
    background-color: rgb(8, 226, 19);
    
}
.ck > .cs{
    padding: 10px 15px;
    background-color: transparent;
    margin-left: 1rem;
    border-radius: 5%;
   
}
.vds > img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    background-color:rgba(2, 3, 3, 0.6) ;
    
    opacity: 0.9;
    background-color: #973434;
   
   
}
.overpl{
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cd{
    text-decoration: none;
    color: #fff;

}
.bkl{
    color: white;
  
    border: 1px solid black;
    width: 120px;
    background: green;
    padding: 5px;
    border-radius: 6px;
    text-decoration: none;
   
}
.ctr{
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 1rem;
    font-size: 30px;
}
.ct{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.cit > h1{
    font-size: 60px;
    font-family: serif;
    color: #fff;
   
}
.cit > p{
    color:gold;
    font-size: 40px;
   
  
}
 .cit{
    position: absolute;
    top: 35%;
    left: 10%;
   
    
   
    
    
    
}
.cit >.bt{
    width: 14%;
    text-align: center;
    align-items: center;
    padding: 12px;
}