.nv{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 80px;

}
.nv1{
    color: gold;
    padding-top: 8px;
    padding-left: 2em;


}
.nv2 > a{
    
    margin: 19px;
    color: goldenrod;
    text-decoration: none;
    font-family: serif;
    
}
.nv2{
    padding-top: 24px;
}
.nv2 > a:hover{
    color: blue;
    border: 1px solid white;
    padding: 6px;
    background-color: skyblue;
    border-radius: 10px;
}