.upl{
    margin: 2em;
    padding-left: 1rem;
}
.upi{
    margin: 2em;
    color: blue;
}
.upili{
    margin: 1em;
    border: 2px solid blue;
    width: 400px;
    height: 320px;
    padding:6px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 3rem;
}
.fil{
    margin-top: 0.6rem;
}